#music-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.music-card {
    width: 20%;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
}

.music-card img {
    height: 80%;
    width: 80%;
}

.music-card img:hover {
    filter: brightness(70%);
}


.music-card div {
    font-size: 25px;
}

.music-card p {
    font-size: 16px;
}

.music {
    display: none;
}