@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

#viewPager-card-container {
    width: 1150px;
    height: 500px;
    background-color: black;
    position: relative;
}


#viewPager-card-container img {
    width: 100%;

}

.viewPager-card {
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50px;
    /* background-color: aqua; */
}



#viewPager-card1 {
    left: 60px;
    z-index: 700;
}

#viewPager-card2 {
    left: 240px;
    z-index: 800;
}

#viewPager-card3 {
    left: 460px;
    z-index: 999;
}

#viewPager-card4 {
    left: 710px;
    z-index: 800;
}

#viewPager-card5 {
    left: 890px;
    z-index: 700;
}

#viewPager-left,
#viewPager-right {
    position: absolute;
    color: white;
    font-size: 30px;
    height: 400px;
    top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#viewPager-left {
    left: 20px;
}

#viewPager-right {
    left: 1110px;
}

#viewPager-left .fa-chevron-left:hover {
    cursor: pointer;
}

#viewPager-right .fa-chevron-right:hover {
    cursor: pointer;
}