@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

body {
    margin: 0px;
    padding: 0px;
}



@media screen and (min-width:370px) {
    .footer-blue-white-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-container {
        width: 100%;
    }

    .footer-blue-container {
        width: 40%;
        height: 200px;
        background: linear-gradient(180deg, #360D95 0%, #4662E2 100%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        padding: 100px 150px 100px 150px;
        position: relative;
        z-index: 800;
    }


    .footer-blue-row-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-blue-row-text {
        font-size: 16px;
        margin: 10px 0px 10px 0px;
    }

    .footer-orange-triangle {
        width: 250px;
        height: 250px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: linear-gradient(180deg, #FDC500 0%, #F72585 100%);
        transform: rotate(-27.29deg);
        position: absolute;
        left: -100px;
        top: 220px;
    }


    .footer-white-container img {
        height: 100px;
        margin: 50px;
        margin-right: 0px;

    }

    .footer-purple-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #d9d9d9;
        height: 450px;
        bottom: 200px;
        position: relative;
    }

    .footer-purple-container-left {
        width: 45%;
        z-index: 700;
        position: relative;
    }

    .footer-green-triangle {
        width: 200px;
        height: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: linear-gradient(180deg, #159F91 0%, #1EE3CF 100%);
        transform: rotate(-90deg);
        position: absolute;
        left: -200px;
        bottom: 0px;
        z-index: 800;
    }

    .footer-purple-copyright {
        left: 0px;
        width: 35%;
        position: absolute;
        bottom: 0px;
        margin-bottom: 50px;
        margin-left: 50px;
        font-size: 20px;
        word-wrap: break-word;
        z-index: 950;
        color: black;
    }

    .footer-purple-container-right {
        height: 300px;
        width: 50%;
        background: linear-gradient(180deg, #880C76 0%, #F00370 100%);
        color: white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        top: 50px;
        right: 50px;
        z-index: 900;
    }



    .footer-purple-contact {
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
    }

    .footer-purple-social-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color: black;
        font-size: 30px;
        width: 300px;
        margin: 10px;
    }

    .footer-purple-texts {
        font-size: 13px;
    }


    .footer-purple-triangle {
        width: 250px;
        height: 250px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: linear-gradient(180deg, #B5179E 0%, #3F37C9 100%);
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: -125px;
    }

    .footer-purple-container-left {}

}

@media screen and (min-width:370px) and (max-width:1150px) {
    body {
        /* background-color: yellow; */
    }

    .footer-blue-container {
        width: 100%;
    }

    .footer-white-container {
        display: none;

    }

    .footer-purple-container {
        height: 800px;
    }

    .footer-purple-copyright {
        top: 300px;
        width: 100%;
    }

    .footer-purple-container-right {
        width: 100%;
        right: 0px;
        top: 400px;
    }

}

@media screen and (min-width:560px) and (max-width:690px) {
    body {
        /* background-color: blue; */
    }

    .footer-blue-container {
        height: 400px;
    }

    .footer-orange-triangle {
        top: 420px;
    }
}

@media screen and (min-width:420px) and (max-width:559px) {
    body {
        /* background-color: orange; */
    }

    .footer-blue-container {
        height: 500px;
    }

    .footer-orange-triangle {
        top: 520px;
    }

    .footer-purple-copyright {
        width: 80%;
        color: white;
    }
}


@media screen and (min-width:370px) and (max-width:419px) {
    /* body {
         background-color: purple; 
    }

    .footer-blue-container {
        height: 500px;
    }

    .footer-orange-triangle {
        top: 520px;
    }

    .footer-purple-copyright {
        width: 90%;
        color: white;
        margin-left: 20px;
    }

    .footer-purple-container {
        width: 115%;
    } */


}